@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: opx;
}

img{
    width: 100vw;
}

a{
    display: block;
    text-align: center;
    background-color: darkred;
    color: white;
    font-weight: bold; 
    padding: 20px;  
    text-decoration: none;
}

a:hover{
    background-color: red;
}