@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar{
    width: 0px;
    height: opx;
}

main{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: url('../imagens/frame-iphone.png') center center no-repeat;
    width: 311px;
    height: 627px;

}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}

section#social{
    text-align: right;
    
}

section#social img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
    
}

section#social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.63);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 0.4s;
}
