@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}
/*
#40ac70
#68eedc
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    text-align: justify;
    
}

:root{
    --cor1: #40ac70;
    --cor2: #68eedc;
    --cor3: #c5ebd6;
    --cor4: #83e1ad;
    --cor5: #3ddc84;
    --cor6: #2fa866;
    --cor7: #1a5c37;
    --cor8: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body{
    background-color: #68eedc;
}

header{
    background-image: linear-gradient(to bottom,var(--cor5),var(--cor8) );
    color: white;
    padding-top: 30px;
    min-height: 150px;
}

header h1{
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 3em;
    padding-bottom: 10px;
}

header p{
    text-align: center;
    padding-bottom: 40px;
    font-size: 1em;
    max-width: 500px;
    margin: auto;
}

nav{
    padding: 5px;
    padding-bottom: 10px ;
}

nav a{
    color: white;
    padding: 10px;
    font-weight: bolder;
    margin-right: 50px;
}


nav a:hover{
    border-radius: 5px;
    background-color: var(--cor4);
    color: #1a5c37;
    
}



footer{
    color: white;
    
    background-color: #063d1e;
    padding: 20px;
}
footer p {
    text-align: center;
}

footer a{
    color: white;
    font-weight: bold;
}