@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar{
    width: 0px;
    height: opx;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    background-color: red;
}